asn1crypto==1.2.0
autopep8==1.4.4
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
cryptography==2.8
idna==2.8
olefile==0.46
Pillow==6.2.0
pycodestyle==2.5.0
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
requests==2.22.0
six==1.12.0
urllib3==1.24.2
